.about_ourstory .item{
    /* border: 1px solid #BC824B; */
}
*{
    /* outline: 1px solid #f00; */
}

.item{
    margin-bottom: 15px;
}

img[alt*="about_icon"]{
    width: 20%;
    background-color: #000000;
}

@media screen and (min-width:768px){

 .wraptxt{
     display: flex;
    
     /* width: 40%; */
     height: 500px;
 }
 .wrap{
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4d5f2c;
 }

 input{
     position: absolute;
 }

 .fir{
    transform: skewY(5deg);
    flex-grow: 1;
    box-shadow: 0 20px 8px #000;
 }
 .two{
    transform: skewY(-5deg);
    flex-grow: 1;
    box-shadow: 0 20px 8px #000;
 }
 .thr{
    background-color: #aaa;
    z-index: -1;
    transform: skewY(-5deg) translate(0px ,-20px);
    /* box-shadow: 0 20px 1px #000; */
    flex-grow: 0;
    height: 490px;
 }
 .four{   
    transform: skewY(-5deg) translate(0px ,-20px);
    flex-grow: 0;
    height: 490px;
 }

 .five{
    background-color: #aaa;
    transform: skewY(-5deg) translate(0px ,-20px);
    flex-grow: 0;
    height: 490px;
 }


.text{
    position: absoulte;
}



.item{
   padding:10px;
   box-sizing: border-box;
   z-index: 1;
}

.item.brond:hover .text{
}

.card-shadow{
    width: 80%;
    height: 1px;
    box-shadow: 0px 10px 10px 15px #333333;
    background-color: #ccc;
     margin: -17px auto 0;
     position: relative;
    z-index: -2;
  }

.wraptxt .wrap p{
    color: #ccc;
    writing-mode: vertical-lr;
}
.about_ourstory .item{
    /* transform: rotate(-5deg) translate(0px,0px); */
    background-color: #4d5f2c;
    /* border-radius: 50px 50px 50px 50px; */

    /* box-shadow: 0px 0px 10px #222222; */
}
/* .about_ourstory .item{
    background-color: #ccc;
    transform: rotate(-20deg) translate(0px,0px);
    transition: all 2s;
      box-shadow: -20px 20px  #ccc;
    box-shadow: 0px 0px #ccc;
    
}  */



/* .about_ourstory .col-12.col-md-4:hover .item{
    transform: rotate(0deg) translate(0px,20px);

}  */

}

